doctype html
html
  head
      title Personal Development for a WordPress Developer
      meta(charset='utf-8')
      script(src='slides.js')
      link(href='https://fonts.googleapis.com/css?family=Bangers|Open+Sans:400,700' rel='stylesheet' type='text/css')
      link(href='styles.css'  rel='stylesheet' type='text/css')
    body
      section.slides.layout-regular.template-default
        article.first
          h1(style="font-size:140px;") Personal Development<br>for a<br>WordPress Developer
          p by Ahmad Awais
          br
          a(href='http://AhmadAwais.com') AhmadAwais.com
          a(href='http://twitter.com/mrahmadawais') @mrahmadawais

        article.me
          h1(style="font-size:250px;") I&apos;m<br>Ahmad Awais
          <br>
          h3(style="font-size:50px;") Full Stack Developer & WordPress Core Contributor


        article
          h2(style="font-size:60px;") I will tweet the link of these slides,<br>shortly after the talk.
          img(src='images/Twitter_logo_white.png', width='300' style="margin:100px auto")

          h2
            a(href='http://twitter.com/mrahmadawais', target='_blank') @mrahmadawais

        article.plain
          img.high(src="images/aacom.png")
          a(href="http://AhmadAwais") AhmadAwais.com

        article
          h1 Let's talk about development.
          p First, a story

        article.old-tools
          h1 It's about
          h1(style="font-size:250px;") Audio/Compact Cassettes


        article
          h1.b $20 Billion to $WTF<br>In 10 Years!
          ul.build.flex
            li
              span Audio Cassettes
                br
              small →  Released by Philips in 1962
                br
              small →  Popular Between 1985 and 1995
                br
              small →  Decline in early 2000's
            li
              span Walkman by Sony
                br
              small 1979 — 2010
                br
              small 385 million units sold
            li
              | Oxford Dictionary
              br
              small  Removed the word "cassette player"
              br
              small in  2011


        article
          h2 Web is evolving in exactly the same way.
          p Some developers realize it while others are waiting for the high tide.

        article
          h1(style="font-size:220px;") Change is imminent! <br> What can you do about it?


        article
          img(src="images/brain.svg")
          h2 You can be smart about your progress!

        article

          p "There are too many languages!"
          p "Which one should I use?"
          p "Everything is changing too fast!"
          h2(style="font-size:116px;") 😭
          h2 I'm overwhelmed <br>& Confused.
          em(style="color:white;") [sigh]

        article
          h2(style="font-size:116px;") 😭 → 😢 → 😑 → 😮 → 😁 → 😄
          p(style="margin-bottom:5rem;") This talk is about how to learn and develop yourself and not just code.
          h1  Self-learning
          h1  Options
          h1  Risk Analysis
          h1  WordPress

        article
          h1(style="font-size:300px;") #1. <br> Self-learning

        article
          h2 Why self-learning?
          ul.build
            li Education system is broken
            li Most of us are self-taught developers

        article
          h2 How to teach yourself?
          ul.build
            li Google
            li Read the source code
            li Implement it / Teach it
            li Find help at StackExchange
            li The Pomodoro Technique
            li #[a(href='//www.rescuetime.com/' target='_blank') RescueTime]

        article
          h2(style="font-size:300px;") When?
          ul.build
            li Freelancers! Remember you are doing it for you.
            li Designers! You are not a pencil in hands of your client.
            li Satuday/Sunday: Take at least one day off.

        article
          h1(style="font-size:400px;") #2. <br> Options

        article
          h2(style="font-size:200px;") → The Employee
          ul.build
            li Learn the craft.
            li Best for beginners.

            p(style="margin-top:5rem;") It may seem obvious, but often in your career you’ll be faced with choices between more money and more responsibility. The right choice—at least in the long term—is almost always more responsibility.


        article
          h3(style="font-size:200px;") → The Employee
          .halves
            .half
              h3 Benefits
              p Stability.
              p Easier road to pursue.
              p Paid vacation.  
              p Medical insurance.
            .half
              h3 Drawbacks
              p Lack of freedom.
              p Income is capped.



        article
          h2(style="font-size:200px;") → The Freelancer
          ul.build
            li Market yourself.
            li Buy your personal domain name.
            li Your blog is your portfolio.


        article
          h3(style="font-size:200px;") → The Freelancer
          .halves
            .half
              h3 Benefits
              p More freedom (set your own hours).
              p New projects to work on.
              p Potential to make more money.
            .half
              h3 Drawbacks
              p Have to find your own work.
              p Expense of running a business.
              p Trading one boss for many bosses.



        article
          h2(style="font-size:200px;") → The Entrepreneur
          ul.build
            li Ideas are worth nothing!
            li Do you have an audience?
            li Start small and solve a problem.
            li Idea validation is important.
            li Partnerships & Joint Ventures.

        article
          h3 People Who Care About Your Solution
          img(src="images/idiot.png")

        article
          h3 People Who Are Using Your Solution
          img(src="images/notidiot.png")

        article
          h3(style="font-size:200px;") → The Entrepreneur
          .halves
            .half
              h3 Benefits
              p Complete freedom.
              p Huge Earning Potential.
              p Work on what you want.
              p No boss.
            .half
              h3 Drawbacks
              p Most risky.
              p Completely on your own.
              p Requires many other skills.
              p Might end up working very long days.
              p VC/Funding ~ Bosses.


        article
          h2 Pick one. Whatever is best for you.
          p(style="margin-bottom:10rem;") I've been an employee, a freelancer and <br>now I am an entrepreneur cum freelancer.

        article
          h1(style="font-size:300px;") #3. <br> Risk Analysis

        article
          h3 Take a calculated risk
          h3 I knew the # of emails to send to get a client
          p You have tax-free $10 Million in your account,<br> and 10 years of your life left, what would you do?


        article
          h1(style="font-size:300px;") #4. <br> WordPress!

        article
          h2(style="font-size:100px;") WordPress is Open Source
          p Which means it’s code written by all sorts of people, not a single company.<br> And while this can sound crazy, it actually works.
          h2(style="font-size:100px;") Community is the best part
          p Community is the best part of WordPress.
          p During the nine years I’ve been a part of this community,<br> I’ve seen people selflessly contribute to core. I’ve also seen<br> companies hire employees with the sole job to improve <br>WordPress in favor of five for the future, and witnessed the <br>community’s unfettered ability to share everything.

        article
          h2(style="font-size:150px;") Contribute To WordPress
          p There are many ways in which you can contribute to WordPress.
          ul
            li Core Contribution
            li Design UI/UX
            li Improve Documentation
            li Translate WordPress
            li Help with Accessibility
            li Help in Support Forums
            li Theme Review for themes
            li Meetups, Teach & Train

        article
          h2(style="font-size:150px;") Build a <br> WordPress Plugin or Theme

        article
          h2(style="font-size:150px;") Read <br> WordPress Coding Standards


        article
          h1(style="margin-bottom:5rem;") Turning pro is a mindset.
          p If we are struggling with fear, self-sabotage, procrastination, self-doubt, etc., the problem is, we’re thinking like amateurs. Amateurs don’t show up. Amateurs crap out. Amateurs let adversity defeat them. The pro thinks differently. He shows up, he does his work, he keeps on truckin’, no matter what.

        article
          h3 “Simply put, a professional is someone who takes their responsibilities and career seriously and is willing to make the tough choices that have to be made—often at their own expense—for the purpose of doing what they know is right.”

        article
          h2.nocaps You vs U
          img(src="images/talk/finger.png")


        article
          h2.nocaps WordPress Developer
          img(src="images/talk/wpdev.png")


        article
          h2.nocaps WordPress vs Wordpress
          p.m5 (notice the lowercase “p”)
          img(src="images/talk/wplol.png")


        article
          h2.nocaps WordPress vs Wordpress
          p.m5 (notice the lowercase “p”)
          img(src="images/talk/wplolplugins.png")

        //- Sum it all up!
        article
          h1 Whew. That was a lot.

        article
          h1.big Perspective is important

        article
          h1(style="font-size:200px;") WordPress will change your life if you let it
          p C.Lema

        article
          h1.big Questions?
          a(href="http://twitter.com/mrahmadawais") @mrahmadawais
          a(href="http://AhmadAwais.com") AhmadAwais.com
